<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PR2_Speedrun_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <PR2_Speedrun_Tools.Properties.Settings>
            <setting name="Speed" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Accel" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Jump" serializeAs="String">
                <value>46</value>
            </setting>
        </PR2_Speedrun_Tools.Properties.Settings>
    </userSettings>
</configuration>
