<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockEditor.Settings>
            <setting name="Zoom" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Pr2BuildVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FillShape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey0" serializeAs="String">
                <value>109</value>
            </setting>
            <setting name="Hotkey1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Hotkey2" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="Hotkey3" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="Hotkey4" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="Hotkey5" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="Hotkey6" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="Hotkey7" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="Hotkey8" serializeAs="String">
                <value>107</value>
            </setting>
            <setting name="Hotkey9" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="PlayTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstUserSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstConnectTeleports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value />
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstBlockInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstShowArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnectPair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxOneTasRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTeleportColor" serializeAs="String">
                <value />
            </setting>
        </BlockEditor.Settings>
    </userSettings>
</configuration>